# WordPress core
/wp-admin/
/wp-includes/
wp-config.php
wp-config-sample.php
wp-load.php
wp-blog-header.php
wp-cron.php
wp-links-opml.php
wp-mail.php
wp-settings.php
wp-trackback.php
xmlrpc.php
index.php
license.txt
readme.html

# Uploads y cache
/wp-content/uploads/
/wp-content/cache/
/wp-content/upgrade/

# Temas de WordPress por defecto (mantener solo nuestro tema)
/wp-content/themes/twentytwentyfour/
/wp-content/themes/twentytwentythree/
/wp-content/themes/twentytwentytwo/
/wp-content/themes/twentytwentyone/

# Plugins innecesarios (mantener WooCommerce y plugins personalizados)
/wp-content/plugins/akismet/
/wp-content/plugins/hello.php

# Base de datos y logs
*.sql
*.sql.gz
*.log
error_log